<div class="card min-h-screen overflow-hidden">
    <div class="max-w-6xl mx-auto">
        <p-iconfield>
            <p-inputicon styleClass="pi pi-search" />
            <input 
                type="text" 
                pInputText 
                placeholder="Type to search users..." 
                [(ngModel)]="searchTerm" 
                (input)="onSearch()"
                class="w-full h-13"
            />
        </p-iconfield>
        
        <div *ngIf="users && users.length > 0" class="mt-4">
            <ul>
                <li 
                    *ngFor="let user of users; trackBy: trackByUserId"
                    (click)="viewUserProfile(user.userName)"
                    class="flex items-center gap-3 p-2 rounded-[var(--content-border-radius)] cursor-pointer 
                        hover:bg-[var(--surface-hover)] transition-[var(--element-transition-duration)]"
                >
                    <img 
                        [src]="user?.profileImageUrl || 'assets/avatar.png'" 
                        alt="Profile picture" 
                        class="w-12 h-12 rounded-full object-cover"
                    />
                    <span class="font-medium text-[18px]">{{ user.userName }}</span>
                </li>
            </ul>
        </div>

        <!-- TODO: shows always -->
        <!-- <p *ngIf="searchTerm && searchTerm.trim() && !isLoading && users.length === 0" 
            class="mt-4 p-3 text-center text-[var(--text-color-secondary)]">
            No users found matching "{{ searchTerm }}"
        </p> -->
    </div>
</div>